


<h1>Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  <input type="email" required #email="ngModel" email name="email" placeholder="Enter Email" ngModel>
  <br/>
  <span *ngIf="email.invalid && email.touched" style="color: red;">Please enter a valid email</span>
  <br/>
  <input type="password" name="password" minlength="10" required #password="ngModel" placeholder="Enter Password" ngModel>
  <br/>
  <span *ngIf="password.invalid && password.touched" style="color: red;">Please enter a valid password</span>
  <br/>
  <button [disabled]="loginForm.invalid">Login</button>
</form>
